*{
    margin: 0;padding: 0;
    user-select: none;
}
#load{
    width: 100vw;
    height: 100vh;
    z-index: 2000;
}
#load .fa-power-off{
    color: rgb(94, 2, 2);
    transform: scale(20);
    text-shadow: 0.7px 1px 3px red;
    border: 3px double rgb(221, 1, 1);
    padding: 3px;
    border-radius: 50%;
    
}
#load .fa-power-off:hover{
    color: rgb(3, 90, 3);
    cursor: pointer;
    text-shadow: 0.7px 1px 3px rgb(72, 255, 0);
    border: 3px double rgb(1, 221, 111);
    
    
}
#all{
    width: 100vw;
    height: 100vh;
    background-image: url(img/dkbg.jpg);
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    
}
#taskbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#taskmain{
    
    width: 100vw;
    height: 8vh;
    background: rgba(54, 53, 53, 0.445);
    backdrop-filter: blur(50px);
    box-shadow: 0px 5px 30px rgb(0, 0, 0);
    
}
#task1{
    width: 30vw;
    display: flex;
    align-items: center;
    margin-left: -2vw;
    border-right: 5px dotted rgb(255, 255, 255);
}


#task3 .fas,#task1 .fas,.fab{
    color: blanchedalmond;
    transform: scale(1.7);
    margin-left: 4vw;
    margin-top: 2vh; 
    text-shadow: 2px 2px 7px red;
} 
#task3 .fas:hover,#task1 .fas:hover,.fab:hover, #i2 #hide:hover {
    transform: scale(2.2);
    /* color: #000; */
    transition: all 0.3s;
    text-shadow: 2px 2px 7px rgb(238, 255, 0);
} 

#taskmain i[title]:hover::after{
    content: attr(title);
    position: absolute;
    
    top: 20px;
    border-radius: 20px;
    background: transparent;
    font: 2px cursive;
    width: fit-content;
    text-align: center;
    
    color: white;
}
#task2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    margin-left: 42.5vw;
}
#logo{
    margin-top: -30px;
    width: 45px;
    box-shadow: 3px 3px 5px white , -3px -3px 5px white;
}
#logo:hover{
    background: black;
    border-radius: 10px;
}
#logo:active{
    background: red;
    transition: all 0.1s;
}
#task3{
    width: 20vw;
    float: right;
    margin-right: 1vw;  
    margin-top: -7.7vh;  
}
#clock{
    background: black;
    color: blanchedalmond;
    margin-left: 1.5vw;
    font: 1.3vw sans-serif;
}
#up1{
    transform: scale(2);
    position: absolute;
    top: 50px;
    color: rgb(255, 0, 0);
    right: 25px;
    cursor: pointer;
    margin-left: 100px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    z-index: -1;
}
#up1:active{
    color: rgb(0, 0, 0);
}
#all:hover #up1{
    z-index: 1;
}
#icon{
    margin-top: 82vh;
    background: rgb(172,189,214);
    background: linear-gradient(146deg, rgba(172,189,214,1) 0%, rgb(0, 0, 0) 0%, rgb(203, 92, 255) 50%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
    backdrop-filter: blur(100px);
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 #i1{
    padding: 2px 10px;
    width: 27vw;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(50px);
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
#i1:hover{
    background: #000;
    border:2px solid rgb(255, 0, 0);
}
 .ico{
    width: 3.5vw;
    border-radius: 40%;
    cursor: pointer;
    transition: all 0.4s;
} 
.ico:hover{
    border: 2.5px solid rgb(255, 255, 255);
    background-color: rgba(36, 36, 36, 0.856);
    border-radius: 10px;
    width: 2.5vw;
    padding: 4px;
}
.ico:active{
    background: white;
}
#i2{
    position: absolute;
    margin-right: -90vw;
}
.refresh{
    transform: scale(2);
    color: aliceblue;
    cursor: pointer;
    margin-right: 20px;
}
.refresh:hover{
    transform: scale(2);
    color: rgb(0, 212, 142);
    
    transition: 0.2s;
}
#hide{
    color: blanchedalmond;
    transform: scale(1.7);
    margin-left: 4vw;
    cursor: pointer;
    margin-top: 2vh; 
    text-shadow: 2px 2px 7px red;
}
#window{
    position: absolute;
    top: 5vw;
    left: 10vw;
    width: 10px;
    height: 75vh;
    overflow: hidden;
    border-radius: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#apps1,#apps2,#apps3,#apps4,#apps5,#apps6,#apps7,#apps8,#apps9,#apps10,#apps11{
   background-color: rgb(109, 109, 109); 
   border-radius: 25px;
   border: 7px ridge rgb(100, 100, 100);
   padding: 5px ;
   width: 72vw;
   margin-top: -88vh;
   margin-left: 13vw;
   height: 70vh;
   overflow: hidden;
   display: none;
   box-shadow: 5px 5px 10px whitesmoke;
   
}
#google{
    width: 71.65vw;
    height: 69.5vh;
    padding-right: 20px;
}
#apps4,#apps5,#apps6,#apps7,#apps8,#apps9,#apps10,#apps11{
    background-color: black;
}
#yt,#insta,#fb,#tiktok,#edge{
    width: 30vw;
    height: 60vh;
    margin-top: 2vh;
    margin-left: 20vw;
    border-radius: 90%;
    border: 7px solid rgb(0, 0, 0);
    box-shadow: 12px 15px 30px whitesmoke;
    animation: bordor 1s 0.1s infinite;
}
#yt:hover,#insta:hover,#fb:hover,#tiktok:hover{
    animation: none;
    border-radius: 25%;
    transition: all .5s;
}
@keyframes bordor{
    
    0%{
        border-color:yellow ;
    box-shadow: 12px 15px 30px rgb(169, 195, 20);

    }
    50%{
        border-color:rgb(255, 60, 0) ;
    box-shadow: 12px 15px 30px rgb(226, 226, 226);

    }
    100%{
        border-color:rgb(81, 255, 0) ;
    box-shadow: 12px 15px 30px rgba(0, 225, 255, 0.918);

    }
}

#music{
    transform: scale(0.8);
    width: 94vw;
    height: 92vh;
    padding-right: 20px;
    margin-left: -13vw;
    margin-top: -11vh;
}
#calcu{
    transform: scale(0.8);
    width: 45vw;
    height: 92vh;
    background: #000;
     margin-left: -20vw;
    padding-left: 35vw;
    padding-right: 35vw;
    margin-top: -10vh;
}
.close{
    transform: scale(2);
   z-index: 99999;
    position: absolute;
    color: bisque;
    text-shadow: 2px 2px 7px rgb(250, 6, 6);
    cursor: pointer;
    margin-top: -20vh;
   margin-left: 82.5vw;
   display: none;
}
.close-left{
    transform: scale(2);
   z-index: 99999;
    position: absolute;
    color: rgba(216, 206, 206, 0.938);
    opacity: 80%;
    cursor: pointer;
    margin-top: 0vh;
   margin-left: -95vw;
   display: none;
   
   
}

.close:hover,.close-left:hover{
    text-shadow: 2px 2px 7px rgb(14, 250, 6);
    opacity: 100%;
}
.close:active,.close-left:active{
    color: #000;
}
::-webkit-scrollbar{
    width: 0px;
}
#stmenu{
    
    overflow: scroll;
    transition:all;
    border-radius: 10px;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -89vh;
    margin-left: 25vw;
    width: 50vw;
    height: 75vh;
    background-color: rgba(127, 255, 212, 0.596);
    transform:skew(0.1deg,0.1deg);
    border: 5px ridge crimson;
}
#stmenu:hover{
    margin-top: -90vh;
    transform: skew(0deg);
    transition: all 0.5s;
    background-color: rgba(127, 187, 255, 0.63);
}
#search{
    
    position: absolute;
    top: 15px;
    text-align: center;
    width: 35vw;
    height: 5vh;
    border-radius: 7vw;
    box-shadow: 5px 5px 20px gray;
}
#search:hover{
    background: rgb(236, 235, 168);
}
#aapps{
    position: absolute;
    top: 15vh;
   
}
#aapps,#recm{
    background: rgb(71, 71, 71);
    width: 33vw;
    text-align: center;
    padding: 10px;
    border-radius: 20px 33px;
    border: 5px ridge red;
    font: 2vw cursive;
    font-style: bold;
    color: aliceblue;
}
#aapps:hover,#recm:hover{
    cursor: pointer;
    
    background: black;
    color: rgb(240, 248, 255);
}
#aapps::after,#recm::after{
    background-color: white;
}
#recm{
    position: absolute;
    top: 30vh;
    
}
#stmenu .fas{
    margin-top: 1vh;
    transform: scale(1.3);
    margin-left: 10px;
    color: red;
}
#box11{
    display: none;
}
#box12{
    display: none;
}
.aapps-box1{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 25px;
    background: rgba(74, 80, 98, 0.507);
    padding: 33px;
    border-radius: 0px 21px;
    justify-content: center;
    border: 2px solid black;
    margin-top: 100vh;
    
}
.aapps-box2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 25px;
    background: rgba(74, 80, 98, 0.507);
    padding: 33px;
    border-radius: 0px 21px;
    justify-content: center;
    border: 2px solid black;
    margin-top: 300px;
    
}


.aai{
    width: 5vw;
    height: 9vh;
    background-color: blueviolet;
    border-radius: 20px;
}
.aai:hover{
    border: 3px dotted black;
    
}
.close2{
    position: absolute;
    margin-right: 46vw;
    margin-bottom: 440px;
    z-index: 2;
    display: block;
    cursor: pointer;
}
.close2:hover{
    text-shadow: 1.2px 1.2px 0px black;
}
#box13{
    width: 5vw;
    height: 10vh;
    position:absolute;
    right: 10px;
    background: orange;
    margin-top: 60vh;
    border-radius: 30px;
}
#box13:hover{
    background: white;

}

/* file sexplorer */
.els{
    color: rgb(0, 0, 0);
    background: yellow;
}
#fex{
    position: absolute;
    top: 10vh;
    left: 10vw;
    background: rgb(0, 0, 0);
    box-shadow: blur(35px);
    z-index: 20;
    height: 77vh;
    width: 80vw;
    padding-right: 15px;
    display: none;
    overflow: hidden;
    border: 3px solid rgb(190, 34, 42);
    border-radius: 25px;
    box-shadow: 12px 12px 15px rgb(5, 13, 58);
}
.bgchange{
    transform: scale(2);
    margin-left: 60vw;
    color: white;
    
}
#costumize{
    margin-top: 20vh;
}
.bgchange:hover{
    color: rgb(239, 0, 0);
    cursor: pointer;
}

.cosbox{
    text-align: center;
    margin-left: 55vw;
    margin-top: -4vh;
    width: fit-content;
    display: none;
    filter: blur(0.7px);
}
#exbar{
    width: 81vw;
    height: 5vh;
    padding-top:10px ;
    background: rgb(19, 19, 19);
    
    
    
}
.cosbox ul{
    border-radius: 30px 60px;
    background: rgb(0, 0, 0);
    color: #dddddd;
    width: 200px;
    font-weight: bolder;
    padding: 8px;
    margin-top: 5px;
    border: 3px solid rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 32;
}

.cosbox ul:hover{
    background: white;
    color: #000;
}




.logo1{
    width: 35px;
    opacity: 80%;
    background-color: rgb(56, 21, 4);
    padding: 3px;
    border-radius: 50%;
    margin-top: -3vh;
}
.n1{
    margin-top: -7vh;
    margin-left: 24vw;
    width: 30vw;
    border-top: none;
    font-size: 1.5vw ;
    text-align: center;
    padding: .3vw;
    color: wheat;
    background: black;
    border-radius: 30px;
    font-family: 'Righteous', cursive;
}
#fex1{
    width: 100vw;
    margin-top: 4vh;
    padding-bottom: 5px;
    border-bottom: 5px solid #000;
    border-color: rgb(116, 11, 93);
}


#mid{
    width: 7vw;
    height: 52vh;
    display: grid;
    justify-content: start;
    align-items: center;
    
    margin-top: 3vh;
    /* background: rgba(255, 0, 0, 0.479); */
    border: 3px double rgb(118, 118, 118);
    padding-bottom: 15px ;
}


.mids{
    width: 3vw;
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 3vh;
    border: 3px solid rgb(104, 62, 255);
    cursor: pointer;
    box-shadow: 7px 4px 10px  rgb(218, 146, 12)
}
.names1{
    font-family: 'Righteous', cursive;
    position: absolute;
    bottom: 2vh;
    margin-left: 1vw;
    background:linear-gradient(rgb(0, 195, 255),rgb(255, 255, 17));
    width:fit-content;
    text-align: center;
    opacity: 0;
    transition: 0.15s;
}
.mids:hover{box-shadow: 10px -14px 20px black; transform: rotate(-180deg); transition: 0.2s;}
.oo1:hover ~ .o1{
    opacity: 1;
}
.oo2:hover ~ .o2{
    opacity: 1;
}
.oo3:hover ~ .o3{
    opacity: 1;
}
.oo4:hover ~ .o4{
    opacity: 1;
}
.oo5:hover ~ .o5{
    opacity: 1;
}

/* fex exit */

#note{
    transform: translate(10%,7%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 10px;
    width: 60vw;
    height: 60vh;
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 3.5vh;

}
#text{
    font-size: 2vw;
    width: 56vw;
    height: 52vh;
    background: white;
    color: rgb(47, 30, 8);
    border-radius: 15px;
    padding: 1vw;
    border: 0.44vw dotted rgb(24, 255, 255);
}

.te{
    color: white;
    margin-left: 5vw;
    transform: scale(1.5);
    
}
#te{
    position: absolute;
    top: 14vh;
    left: 40vw;
    background-color: rgba(105, 105, 105, 0.623);
    padding: 7px;
    padding-right: 5vw;
    border-radius: 30px;
    text-shadow: 2px 2px 1px  rgb(246, 1, 124);
}
#ns{
    position: absolute;
    top: 15vh;
    left: 20vw;
    
}
.te:hover{
    color: #f5af19;
    cursor: pointer;
}
#ns button{
    padding: 7px;
    font: 1.3vw sans-serif;
    font-weight: bold;
    margin-top: -5px;
    border-radius: 12px;
    background: whte;
    color: #f51919;
}
#ns button:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}
#khop{
    transform: scale(0.75);
    width: 97vw;
    height: 94vh;
    border-radius: 12px;
    margin: -12vh -12.5vw;
}
#apps11 #video{
    background: rgb(110, 110, 91);
    border: 7px double wheat;
    border-radius: 20px;
    
}
#apps11 #canvas{
    background: rgb(41, 41, 41);
    border: 7px double wheat;
    border-radius: 20px;
    margin-left: 7vw;
    margin-top: 15vh;
}
.cbtn{
    position: absolute;
    top: 17vh;
    cursor: pointer;
    left: 60vw;
    background: rgb(34, 47, 165);
    font: 1.4vw sans-serif;
    color: #dddddd;
    padding: 10px;
    font-weight: bolder;
    border-radius: 20px 50px;
}
.cbtn:hover{
    background-color: red;
}
#start-camera{
    margin-left: -35vw;
}
#stop-camera{
    margin-left: -33vw;
    margin-top: 50vh;
}
#apps11 #video,#canvas{
    margin-left: 7.5vw;
}
#wifidiv{
    display: block;
    position: absolute;
    top: 10vh;
    background: rgb(59, 245, 59);
    filter: blur(1px);
    font-style: oblique;
    
}
.fexclose{
    display: none;
    margin-left: 78vw;
    margin-top: -5vh;
    background: black;
    cursor: pointer;
    color: #dddddd;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    transform: scale(1.7);
}
.fexclose:hover{
    
    color: red;
}

#mainfex ,.mainfex{
    position: absolute;
    top: 17vh;
    left: 9vw;
    width: 70vw;
    height: 62vh;
    background-attachment: fixed;
    overflow: scroll;
    background: rgb(194, 194, 194);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: -1;
    background: url(img/acsbg.png);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(2px);
    
}

#document {
    font: 1vw sans-serif;
    margin-top: 5px;
    width: 15vw;
    height: 4vh;
    filter: blur(0.5px);
    background: rgba(255, 255, 0, 0.332);
    border: 3px ridge black;
    border-radius: 50px;
   text-align: center;
   text-shadow: 2px 2px 2px rgb(255, 0, 60);
}
#allcontent1,#allcontent2,#allcontent3,#allcontent4,#allcontent5{
    border: 10px solid rgba(246, 240, 223, 0.742);
    margin:1vh -21vw;
    width: 60vw;
    height: 49vh;
    box-shadow: 10px 10px 20px wheat;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 45% 55%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.551);
    overflow: hidden;
}


#acs1,#acs3{
    margin-left: 15px;
    
}
#acs2,#acs4{
    
    margin-left: 5vw;
}

#fex2{
    width: 5vw;
}
.acs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 1vw;
    background: rgba(101, 101, 101, 0.592);
    backdrop-filter: blur(15px);
    color: white;
    font-family: Georgia;
    font-size: larger;
    font-weight: bolder;
    width: 25vw;
    height: 4vh;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.3s;
    border: 4px solid white;
    border-top: 2px double white ;
    border-bottom: 2px double white;
}
.als{
    background: rgb(39, 39, 39);
}
.acs:focus{
    background: #000;
    color: white;
}
.acs:hover{
    
    padding: 4px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.acs:active{
    background: black;
}
.docday{
    color: antiquewhite;
    font: 1vw sans-serif;
    margin-left: 5vw;
}
.acs:hover .docday{
    color: #4fffea;
}
#doctool{
    position: absolute;
    margin-left: -27vw;
    background: rgba(0, 0, 0, 0.333);
    width: 4vw;
    margin-top: 10vh;
    height: fit-content;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding-bottom: 4vh;
}
#doctool i{
    transform: scale(2);
    margin-top: 5vh;
    
    color: antiquewhite;
}
#doctool i:hover{
    color: black;
    cursor: pointer;
}
#doctool i:active{
    color: #f5193a;
}
#allcontent2 #asc3 .acs:focus{
    background: #000;
    color: white;
}
#acs4,#acs2,#acs5,#acs6,#acs7{
    overflow: scroll;
}

#allcontent2{
    background: rgba(42, 98, 46, 0.557);
    display: none;
}
#allcontent3{
    background: rgba(32, 112, 123, 0.475);
    display: none;
    
}
#allcontent4{
    background: rgba(113, 30, 83, 0.316);
    display: none;
    
}
#allcontent5{
    background: rgba(113, 78, 30, 0.461);
    display: none;
    
}
#acs5,#acs6,#acs7{
    margin-left: 14vw;
    width: 30vw;
    
}
.als2{
    color: rgb(26, 205, 255);
}
